<!-- app/views/users/plans/index.html.erb -->
<div class="container py-5">
  <h1 class="text-center mb-4 text-light">Available Plans</h1>

  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-md-4 mb-3">
        <%= render "plan", plan: plan %>
      </div>
    <% end %>
  </div>

  <% if current_user %>
    <div class="text-center mt-4">
      <%= link_to "New Plan", new_users_plan_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

