<% plans.each do |plan| %>
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="card-title"><%= plan.name %></h5>
        <p class="card-text">$<%= plan.price %> / month</p>

        <% if account&.plan_id == plan.id %>
          <button class="btn btn-success" disabled>Current Plan</button>
        <% elsif account.present? %>
          <%= button_to "Switch",
                users_plan_path(plan),
                method: :patch,
                class: "btn btn-primary mt-auto",
                data: { turbo_frame: "_top" } %>
        <% else %>
          <%= button_to "Subscribe",
                users_plan_path(plan),
                method: :post,
                class: "btn btn-success mt-auto",
                data: { turbo_frame: "_top" } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
