<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= customer.message %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= customer.project_type %>
  </p>

</div>
